:root {
    
    --primary-color:                        #1abc9c;
    --primary-color-hover:                  #16a085;
    --primary-color-focus:                  #007b6e;
    --primary-color-text:                   #b4fff0de ;
    --primary-color-focus-border:           #16a085;
    --primary-color-focus-border-width:         3px;
    --primary-color-focus-border-radius:        50%;
    --primary-color-focus-box-shadow:       0 0 0 var(--primary-color-focus-border-width) var(--primary-color-focus);
    --primary-color-focus-box-shadow-hover: 0 0 0 var(--primary-color-focus-border-width) var(--primary-color-hover);
    --primary-color-focus-box-shadow-focus: 0 0 0 var(--primary-color-focus-border-width) var(--primary-color-focus);
    
    /* complement */
    --secondary-color:                        #ff6f61;
    --secondary-color-hover:                  #ff9086;
    --secondary-color-focus:                  #fd5a4b;
    --secondary-color-text:                   #ffaba3cb ;
    --secondary-color-focus-border:           #fd5b4d;
    --secondary-color-focus-border-width:         3px;
    --secondary-color-focus-border-radius:        50%;
    --secondary-color-focus-box-shadow:       0 0 0 var(--secondayr-color-focus-border-width) var(--secondayr-color-focus);
    --secondary-color-focus-box-shadow-hover: 0 0 0 var(--secondayr-color-focus-border-width) var(--secondayr-color-hover);
    --secondary-color-focus-box-shadow-focus: 0 0 0 var(--secondayr-color-focus-border-width) var(--secondayr-color-focus);

    --default-padding: 0.25rem ;

}
* {
    box-sizing: border-box;
}
header {
    min-height: 190px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
body {
    background-color: #2c3e50;
    color: #ecf0f1;
    color: var(--primary-color-text);
    font-family: Arial, sans-serif;
    font-family: "Roboto", sans-serif;
    display:    flex   ;
    display:        flex   ;
    align-items:    center ;
    justify-content: center;
    flex-direction: column ;
}


.flex-container{
    background-color:   var(--secondary-color);
    border-radius:                         7px;
    padding:            var(--default-padding);
    margin:                            0.5rem;
}
.flex-container-APP{
    background-color:   var(--secondary-color);
    border-radius:                         7px;
    padding:            var(--default-padding);
    margin:                             0.5rem;
}

.image-button-APP {
    
    display:                  flex;
    justify-content: space-between;
    align-items:            center;

}

.image-button-APP > img {

height: 5vh;

}

img.placeholder {
    width: 24px;
    content: url(./placeholder.svg);
}

.input {
    display: flex;
    padding: var(--default-padding);
    background: var(--primary-color-focus);
    border: 0.1px solid var(--primary-color);
    border-radius: 7px;

}

.input > form > label {
    display: block;
    flex: 1 1 auto;
    width: 100%;
    padding: var(--default-padding);
    background: var(--primary-color-focus);
    border: 1px solid var(--primary-color);

}

.nutrition-header{
    display:  flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: column;
    margin: 0px;
}

.nutrition-header-text{

    margin-block-start: 3px;
    
}

.nutrition-values{
    display:  flex;
    justify-content: space-evenly;

}

.container-articel-APP{
    background-color: #233241;

    display: block flex;
    flex-direction: column;
    border-radius:  7px;
    gap: var(--default-padding);
    min-width: 10vw;
    max-width: 70vw;

}

.flex-container-2{
    background-color: var(--secondary-color);
    border-radius: 7px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.wrap-container{
    background-color: var(--secondary-color);
    border-radius: 7px;
    padding: 0.5rem;
    margin: 0.5rem;

    display: flex;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
    font-size:7.7vw;
    font-size:7.7vh;
}

label{
    font-size: 4vh;
    
}












#search {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#LIST {
    border-collapse: collapse;
    width: 100%;
}
#LIST td, #LIST th {
    border: 1px solid #ddd;
    padding: 8px;
}
#LIST th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
button {
    background-color: var(--primary-color);
    border: none;
    color: var(--primary-color-text);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.input-button {
    background-color: var(--primary-color);
    border: none;
    color: var(--primary-color-text);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button:hover {
    background-color: var(--primary-color-hover);
}
.input-button:hover {
    background-color: var(--primary-color-hover);
}
button:focus {
    outline: none;
    box-shadow: var(--primary-color-focus-box-shadow);
}
.input-button:focus {
    outline: none;
    box-shadow: var(--primary-color-focus-box-shadow);
}
button:hover:focus {
    box-shadow: var(--primary-color-focus-box-shadow-hover);
}
.input-button:hover:focus {
    box-shadow: var(--primary-color-focus-box-shadow-hover);
}
button:focus:hover {
    box-shadow: var(--primary-color-focus-box-shadow-focus);
}
.input-button:focus:hover {
    box-shadow: var(--primary-color-focus-box-shadow-focus);
}
button > btn-primary {
    display: flex;
    text-align: center;
    
}
.card {
    background-color: var(--primary-color-focus);
    border-radius:      7px  ;

    padding:            50px  ;
    margin-bottom:      10px  ;
    width:              100%  ;
    max-width:          690px ;

    display:    flex   ;
    align-items: center;
    justify-content: center;
    
}
.card-header {
    display:        flex   ;
    align-items:    center ;
    justify-content: space-between;
}
.card-header > h2 {
    font-size:      1.5rem ;
    margin-bottom:      2px;
}
.card-body{
    margin:            20px;
}
.card-footer {
    display:    flex   ;
    align-items: center;
    justify-content: space-between;
}
custom-card {
    display: block;
    background: var(--primary-color-hover);
    color: #2c3e50  ;
    border-radius: 7px;
    padding-left: 11px;
}